<!DOCTYPE html>
<html ng-app="permissionsCalc">
	<head>
		<title>Discord Permissions Calculator</title>

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
		<link rel="stylesheet" href="assets/css/main.css">

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body class="blue-grey darken-4 grey-text text-lighten-4">
		<header>
			<nav class="indigo lighten-2">
				<div class="nav-wrapper container">
					<a href="#" class="brand-logo hide-on-small-only">Discord Permissions Calculator</a>
					<a href="#" class="brand-logo hide-on-med-and-up">DPR</a>
				</div>
			</nav>
		</header>
		<main>
			<section class="container" ng-controller="calc">
				<div class="row">
					<h3>Calculated permissions: {{calculatePermissions()}}</h3>
					<code ng-bind-template="{{calculatePermissions()}} = {{calculateExplanation()}}">0 = 0x0</code>
				</div>
				<div class="row">
					<div class="col s12 m6 l4" ng-repeat="permscope in permissions">
						<h5 ng-bind-template="{{permscope.name}} Permissions">Unknown Permissions</h5>
						<input type="checkbox" class="filled-in" ng-model="permscope.active" ng-change="toggle(permscope)" id="auto_{{permscope.name}}"/> <label for="auto_{{permscope.name}}">Select Recommended</label>
						<ul>
							<li ng-repeat="perm in permscope.permissions">
								<input type="checkbox" class="filled-in" ng-model="perm.active" ng-change="disableActive(permscope)" id="role_{{perm.id}}"/> <label for="role_{{perm.id}}" ng-bind="perm.name">Permission</label>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<h4>Invite a bot</h4>
					<div class="input-field col s12 m6 l3">
						<input placeholder="1234567890" type="text" id="bot_id" pattern="[0-9]+" class="validate" ng-model="botId" ng-trim="false" required/>
						<label for="bot_id" data-error="You must input a valid bot ID">Client ID</label>
					</div>
					<br/>
					<br/>
					<br/>
					<br/>
					<div class="col s12">
						Generated link: <a ng-href="https://discordapp.com/oauth2/authorize?permissions={{calculatePermissions()}}&scope=bot&client_id={{botId}}" ng-bind-template="https://discordapp.com/oauth2/authorize?permissions={{calculatePermissions()}}&scope=bot&client_id={{botId}}"></a>
					</div>
				</div>
			</section>
		</main>
		<footer class="page-footer indigo lighten-2">
			<div class="container">
			</div>
			<div class="footer-copyright">
				<div class="container">
					&copy; 2016+ FiniteReality - This tool is not official.
				</div>
			</div>
		</footer>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
		<!-- apparently I should use react instead of angular? hell no, react is ugly. -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script type="text/javascript" src="assets/js/permissions.js"></script>
	</body>
</html>